/* 网页基色 */
$deepblue: #2c3e50;
$deepgreen: #55967e;
$deepgray: #6d819c;
$deepwhite: #e4e7ec;

/* 响应式布局 */
$html-font-size: (
	null : 15px,	
	480px : 16px,
	640px : 17px,
	1024px : 20px
);

$p-font-size: (
	null : 15px,
	480px : 16px,
	640px : 17px,
	1024px : 19px
);

$h1-font-size: (
	
)

